.RangeLabel {
    background-color: hsl(240 100% 90%);
    border-radius: 0.3rem;
    color: hsl(240 80% 20%);
    display: inline-block;
    font-size: 90%;
    padding: 0.1rem 0.3rem;
    font-variant-numeric: tabular-nums;
}