@import "../../mixins.scss";

.sidebar {
    background-color: var(--backgroundColors-sidebar, #fff);
    color: var(--typography-sidebar-fontColour, '#444');
    flex: 0 0 var(--layoutColumns-sidebarWidth, 40%);
    font-family: var(--typography-Sidebar-fontFamily, 'sans-serif');
    @include responsive-text-size(var(--widthInInches), var(--typography-Sidebar-fontSizePt, '12pt'));
    font-weight: var(--typography-Sidebar-fontWeight, 400);

    h1 {
        color: var(--typography-Sidebar-heading-fontColour, '#444');
        font-family: var(--typography-Sidebar-heading-fontFamily, 'sans-serif');
        @include responsive-text-size(var(--widthInInches), var(--typography-Sidebar-heading-fontSizePt, '18pt'));
        font-weight: var(--typography-Sidebar-heading-fontWeight, 600);
    }

    h2 {
        color: var(--typography-Sidebar-sub-heading-fontColour, '#444');
        font-family: var(--typography-Sidebar-sub-heading-fontFamily, 'sans-serif');
        @include responsive-text-size(var(--widthInInches), var(--typography-Sidebar-sub-heading-fontSizePt, '14pt'));
        font-weight: var(--typography-Sidebar-sub-heading-fontWeight, 600);
    }

}