$gradient-size: 16px;
$gradient-colour: rgba(0, 0, 0, 0.08);

.PreviewPane {
    align-items: center;
    background: #fff;
    background-image: linear-gradient(45deg, $gradient-colour 25%, transparent 25%),
        linear-gradient(-45deg, $gradient-colour 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, $gradient-colour 75%),
        linear-gradient(-45deg, transparent 75%, $gradient-colour 75%);
    background-position: 0 0, 0 calc($gradient-size / 2), calc($gradient-size / 2) calc($gradient-size / -2), calc($gradient-size / -2) 0;
    background-size: $gradient-size $gradient-size;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    max-height: 100vh;
}

.PreviewContainer {
    aspect-ratio: 0.70707;
    background-color: #fff;
    border: 1px solid #666;
    transform-origin: top left;

    &.fullHeight {
        height: 100%;
        max-width: 100%;
    }

    &:not(.fullHeight) {
        max-height: 100%;
        width: 100%;
    }

    &.A4 {
        aspect-ratio: 0.7070707071;
    }

    &.Letter {
        aspect-ratio: 0.7727272727;
    }
}